<h2>Reportar Problema</h2>
            <div class="formulario-container"  style="margin-bottom: 20px;">
              <form class="formulario" (submit)="enviarReporte()">
                  <div class="form-group">
                    <label for="dni">Número de Dni:</label>
                    <input type="dni" id="dni" name="dni" [(ngModel)]="dni" required class="input-field" readonly>
                </div>
                    <div class="form-group">
                        <label for="telefono">Número de Teléfono:</label>
                        <input type="tel" id="telefono" name="telefono" [(ngModel)]="telefono" required class="input-field" readonly>
                    </div>
                    <div class="form-group">
                        <label for="descripcion">Descripción del Problema:</label>
                        <textarea id="descripcion" name="descripcion" [(ngModel)]="descripcionReporte" rows="4" required class="textarea-field"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="nombre">Nombre:</label>
                        <input type="text" id="nombre" name="nombre" [(ngModel)]="apel_nomb" required class="input-field" readonly>
                    </div>
                    <div class="form-group">
                        <label for="email">Email:</label>
                        <input type="email" id="email" name="email" [(ngModel)]="gmail" required class="input-field" readonly>
                    </div>
                    <!-- Agrega aquí cualquier otro campo que necesites -->
                    <button type="submit" class="submit-button">Enviar Reporte</button>                  </form>
            </div>
