<apx-chart 
          [series]="salesOverviewChart.series"
          [dataLabels]="salesOverviewChart.dataLabels"
          [chart]="salesOverviewChart.chart"
          [legend]="salesOverviewChart.legend"
          [xaxis]="salesOverviewChart.xaxis"
          [yaxis]="salesOverviewChart.yaxis"
          [grid]="salesOverviewChart.grid"
          [stroke]="salesOverviewChart.stroke"
          [tooltip]="salesOverviewChart.tooltip"
          [plotOptions]="salesOverviewChart.plotOptions"
        ></apx-chart>